:root {
    --bg-color: rgb(155, 23, 50);
    --text-color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    min-height: 150px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

header h1 {
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#team {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 25px;
    display: flex;
}

.card-title {
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    margin: 0;
}

.card-subtitle {
    border: none;
    margin: none;
    background-color: var(--bg-color);
}

.role {
    padding: 5px;
    padding-left: 10px;
    color: var(--text-color);
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 2px;
    padding-left: 5px;
}